In [5]:
import sqlite3

conn = sqlite3.connect(":memory:")
conn.execute("CREATE TABLE test (id INTEGER PRIMARY KEY, content JSON);")
conn.execute("INSERT INTO test (content) VALUES ('{\"a\": 1, \"b\": 2}');")
conn.execute("INSERT INTO test (content) VALUES ('{\"a\": 3, \"b\": 4}');")
conn.execute("INSERT INTO test (content) VALUES ('{\"a\": 5, \"b\": 6}');")
conn.commit()

cursor = conn.execute("SELECT * FROM test;")
for id, content in cursor:
    print(id, content, type(content))

1 {"a": 1, "b": 2} <class 'str'>
2 {"a": 3, "b": 4} <class 'str'>
3 {"a": 5, "b": 6} <class 'str'>

In [1]:
None == 1

False